body {
	background-color: black;
	color: white;
	margin: 0px;
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	font-family: serif;
}

div.header {
	text-align: left;
	padding: .5em 1em .5em 1em;
        font-family: "Courier New", monospace;
}

div.body {
	background-color: black;
	padding: 1em;
}

div.content {
	background-color: white;
	padding-top: 2em;
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 1.5em;
	border: 0px;
	font-size: 1.2em;
}

div.footer {
	text-align: left;
	color: #00FF00;
        font-family: "Courier New", Courier, monospace;
	font-size: .7em;
	padding: 1em;
	border-top: 1px solid red;
}

div.menuBlurb {
	text-align: right;
	padding: .25em;
	margin: .5em;
}

div.menuItem {
	/* cursor:pointer; */
	cursor:hand;
	margin: .5em;
	margin-right: 0em;
	margin-top: 0em;
	padding: .25em;
	padding-right: .5em;
	text-align: right;
	border: 0em;
	font-size: 1.5em;
	font-weight: bold;
}
code {
	color: darkred;
}

h1.title {
	text-align: center;
	font-weight: normal;
	font-size: 2em;
	margin: 0;
}

h2.title {
	text-align: center;
	font-weight: normal;
	font-size: 1.5em;
	margin: 0;
}

a {
        color: #0000FF;
}

a.hlink {
        font-family: "Courier New", monospace;
        white-space: pre;
        color: red;
        text-decoration: none;
	font-size: .5em;
}

a.hlink img {
	width: 50%;
	filter: invert(1);
}

a.hlink img:hover {
	filter: invert(0) brightness(50%) sepia(100%) hue-rotate(350deg) saturate(900%);
}

@media only screen and (max-width: 640px) {

   a.hlink { 
      font-size: .5em; 
   }

}

a.siteNav {
	text-decoration: none;
	color: white;
}

a.siteNav:hover {
	text-decoration: underline;
}
